<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model Inference</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Model Inference</h1>

    <form method="post" action="{{ url_for('predict') }}">
      <label for="input_text">Input Text:</label>
      <textarea id="input_text" name="input_text" rows="4" cols="50"></textarea
      ><br /><br />
      <input type="submit" value="Predict" />
    </form>

    {% if input_text %}
    <h3>Input Text:</h3>
    <p>{{ input_text }}</p>

    {% if generated_answer %}
    <h3>Generated Answer:</h3>
    <p>{{ generated_answer }}</p>
    {% endif %} {% endif %}
  </body>
</html>
